body {
 font-family: Helvetica,Arial, Sans-Serif;
 background-image: url('/images/Art/UserInterface/LoadingScreens/ShipEgyptTravel_df.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 color: #E6C953;
 background-color: black;
 font-size: 14px;
}

.epic {	color: #b04bdf; }
.rare { color: #3b8fff; }
.uncommon {	color: #45ff5e; }
.legendary { color: orange; }

.tooltip { position: relative; padding: 4px; font-weight: bold; text-shadow: 1px 0px 1px black; }
.tooltip .inside { padding: 6px; background-color: #313d52; color: #fff; font-size: 12px; }

.corner { position: absolute; width: 8px; height: 8px; background-image: url('/images/border_corners.png'); }
.topLeft { top: 0; left: 0; }
.topRight { top: 0; right: 0; background-position: 8px 0px; }
.bottomLeft { bottom: 0; left: 0; background-position: 0px 8px; }
.bottomRight { bottom: 0; right: 0; background-position: 8px 8px; }
.edge { position: absolute; }
.top { top: 0px; left: 8px; right: 8px; height: 8px; background-image: url('/images/border_tb.png'); }
.bottom { bottom: 0px; left: 8px; right: 8px; height: 8px; background-image: url('/images/border_tb.png'); background-position: 0px 8px; }
.left { left: 0px; top: 8px; bottom: 8px; width: 8px; background-image: url('/images/border_lr.png'); }
.right { right: 0px; top: 8px; bottom: 8px; width: 8px; background-image: url('/images/border_lr.png'); background-position: 8px 0px; }

img
{
	border: 0;
}

.reg td
{
	padding-bottom: 7px;
}
.reqReg{
	font-size: 10px;
	color: yellow;
}

legend
{
	color: white;
}

table.list { width: 100%; border-width: 0px; border-collapse: collapse;
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; font-size: 12px; text-align: left; }
table.list th { border-width: 0px; padding: 12px 4px 12px 8px;
  text-align: left;
	font-weight: normal;
	font-size: 14px;
	color: #E6C953;
	/*border-bottom: 1px solid #E6C953; */}
table.list td {	padding: 4px 4px 4px 8px;
	color: white; }

table.list tr { background-color: #313d52; }
table.list tr:nth-child(odd) { background-color: #313d52; }
table.list tr:nth-child(even) { background-color: #395172; }

table.list tr:hover td {
  background-color: #8299b8;
  cursor: pointer;
}

.tooltip .header { font-size: 14px; }
.tooltip .header .type { float: left; color: #e6c953; }
.tooltip .header .age, .rarity { float: right; padding-right: 0px; }
.tooltip .header .rarity { text-transform: capitalize; }
.tooltip .icon { float: left; margin: 0px 6px 0px 2px; margin-bottom: 6px; }
.tooltip .name { font-size: 18px; margin-top: 0px; vertical-align: top; }
.tooltip .info { font-size: 14px; clear: both; }
.tooltip .description { font-size: 14px; }
.tooltip .bonusvs { font-size: 10px; }
.tooltip .equipmentslot { width: 40px; padding: 2px; }

.tooltip ul { list-style-position: inside; list-style-image: url('/images/bullet.png'); padding-left: 5px; font-size: 14px; }
.tooltip li.bonustrue { color: #0f0; }
.tooltip li.bonusfalse { color: #f00; }

.tooltip .footer { font-size: 12px; }


#news
{
	font-size: 12px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#news h1
{
	font-size: 12px;
	font-weight: bold;
	color: #3b8fff;
	border-bottom: 1px dotted #3b8fff;
}

#alltop
{
	text-align: right;
	height: 20px;
	padding-top: 0px;
	margin-top: 0px;
	font-size: 14px;
}

* a
{
	color: white;
}

* a:hover
{
	color: #3b8fff;
}

.scriptlink
{
	color: white;
	cursor: pointer;
}


#maindiv
{
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}


#mainpagetext
{
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 5px;
}

#indexdiv
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	margin-top: 120px;
	/*opacity: 0.95;
  filter:alpha(opacity=95); /* For IE8 and earlier */
}

.categorieslinks
{
	font-size: 8px;
	color: #888;
	vertical-align: bottom;
	text-align: left;
}

.categorieslinks a
{
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #E6C953;
}


#mainsearch
{
	margin-top: 0px;
}

#headersearch
{
	margin-top: 0px;
	background-color: black;
	width: 300px;
	font-size: 28px;
	font-weight: bold;
	color: #3B8FFF;
	border: 2px solid #E6C953;
	height: 30px;
	background-color: white;
	margin-left: auto;
	margin-bottom: 0px;
}

#headersearch input[type="text"]
{
	width: 256px;
	font-size: 22px;
	font-weight: bold;
	color: #3B8FFF;
	border: 0;
	height: 28px;
}

#headersearch input[type="image"]
{
	height: 30px;
	vertical-align: bottom;
}

#mainsearch #searchdiv
{
	margin-left: auto;
	margin-right: auto;
	width: 494px;
	font-size: 28px;
	font-weight: bold;
	color: #3B8FFF;
	border: 2px solid #E6C953;
	height: 34px;
	background-color: white;
}


#mainsearch input[type="text"]
{
	width: 446px;
	font-size: 22px;
	font-weight: bold;
	color: #3B8FFF;
	border: 0;
	height: 32px;
}

#mainsearch input[type="image"]
{
	height: 33px;
	vertical-align: top;
}

.centerme
{
	text-align: center;
}


.typesandflags
{
	font-size: 12px;
}

#mainsearch a
{
	text-decoration: none;
	color: #E6C953;
	text-shadow: black 1px 1px 1px;
	font-weight: bold;
}

#searchheader
{
	border-bottom: 1px solid white;
}


#searchheader p
{
	display: inline;
	font-size: 20px;
	vertical-align: bottom;
}

#credits
{
	font-size: 10px;
	color: white;
	font-family: Arial;
	text-align: center;
	position: fixed;
	bottom: 10px;
	width: 100%;
}

#credits a:link {
  text-decoration: none;
}

#credits a:visited {
  text-decoration: none;
}

#credits a:active {
  text-decoration: underline;
}

#credits a:hover {
  text-decoration: underline;
}


.comments
{
	padding-top: 10px;
}

.comments h1
{
	font-size: 14px;
	color: white;
	border-bottom: 1px dotted white;
}



.commentvotes
{
	float: left;
	width: 16px;
}

.commentcontent .tagline
{
	font-size: 10px;
	margin-bottom: 2px;
	margin-top: 0px;
	font-weight: bold;
}

.commentcontent .tagline a
{
	color: #C3C9FF;
	font-size: 12px;
}

.commentcontent
{
	padding-left: 18px;
	color: white;
}

#questLeft
{
	font-weight: normal;
}

#questLeft .infoValue
{
	font-weight: bold;
}

.reward
{
	font-size: 22px;
	margin-left: 10px;
}

#overlay {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    height:100%;
    z-index:998;
    background-color: Black;
    opacity: .5;
    display: none;
}

#popup {
   	 	position:absolute;
        left:0;
        right:0;
        width: 310px;
        margin-left:auto;
        margin-right:auto;
        margin-top: 200px;
        background-color: black;
        z-index:999;
        display: none;
}
